<launch>

    <arg name="nr_particles" default="10"/>
    <arg name="modus" default="test"/> <!--Options: train, test-->

    <node name="swarm" type="simulation_envionment_particles.py" pkg="swarm_robots" output="screen" args="$(arg nr_particles)"/>

    <node name="training" type="train_agent.py" pkg="swarm_robots" output="screen" args="$(arg modus)"/>

    <node type="rviz" name="rviz" pkg="rviz" args="-d $(find swarm_robots)/rviz/swarm.rviz" />


</launch>